<div class='container-contact100'>
  <div class='wrap-contact100'>
    <!-- user's-form -->
    <%= render 'user_form', user: @user %>
    <!-- /user's-form -->

    <div class='contact100-more flex-col-c-m' style="background-image: url('images/bg-01.jpg');">

      <!-- it will contain error messages if validation fails -->
      <div id='error-messages'>
      </div>
      <!-- /it will contain error messages if validation fails -->

      <div class='flex-w size1 p-b-47'>
        <div class='txt1 p-r-25'>
          <span class='lnr lnr-map-marker'></span>
        </div>

        <div class='flex-col size2'>
          <span class='txt1 p-b-20'>
            <%= t('information.Address') %>
          </span>

          <span class='txt2'>
            <%= t('information.Address line') %>
          </span>
        </div>
      </div>

      <div class='dis-flex size1 p-b-47'>
        <div class='txt1 p-r-25'>
          <span class='lnr lnr-phone-handset'></span>
        </div>

        <div class='flex-col size2'>
          <span class='txt1 p-b-20'>
            <%= t('general.Lets talk') %>
          </span>

          <span class='txt3'>
            +1 800 1236879
          </span>
        </div>
      </div>

      <div class='dis-flex size1 p-b-47'>
        <div class='txt1 p-r-25'>
          <span class='lnr lnr-envelope'></span>
        </div>

        <div class='flex-col size2'>
          <span class='txt1 p-b-20'>
            <%= t('general.General support') %>
          </span>

          <span class='txt3'>
            contact@example.com
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
